export(probest, testve, util.jplot, wilding, aov.P, higgins.fisher.kruskal.test, tukey.kruskal.test, betatest, dmannwhitney, sensitivity.plot,symscorestat,page.test.unbalanced)
importFrom("graphics", "abline", "legend", "lines", "plot", "points")
importFrom("stats", "kruskal.test", "model.matrix", "pnorm", "qqnorm","qtukey", "rnorm", "var")
importFrom("stats", "fisher.test", "median")
